$color-main: rgb(220, 40, 115) !default;
$color-sub: #1989fa !default;
$color1: #311455 !default;
$color-gray: rgba(0, 0, 0, 0.6) !default;
$color-blue: #305085 !default;
$color-tip: #969696;
$color-border: #969696;
$color-disabled: #a6a6a6;
$color-shade: #eb2000;
$color-yellow: #ecad32;
$color-bg: #ddd;

$padding-main: 0.1rem !default;

$ratio-banner: 57.06%;

$label-bar-color: deepskyblue;
$main-bg-color: #f4f4f4;
$content-bg-color: #fff;

$main-title-font-size: 17px;